// start .sServices
.sServices {
	position: relative;
	z-index: 10;
		--sPT: #{rem(100)};
		// --sPB: ;
		--sTPB: #{rem(50)};
		@include media-breakpoint-down(sm) {
			--sPT: #{rem(50)};
		}
	.container {
		position: relative;
		z-index: 10;
	}
	.bg-img {
		position: absolute;
		transform: rotate(-120.59deg);		
		height: 160px;
    left: -307px;
    top: 165px;
		z-index: -1;
	}
	&__logo-wrap {
		margin: 0 auto;
		margin-bottom: 14px;
		width: 66px;
		height: 64px;
		@include media-breakpoint-down(sm) {
			width: 48px;
			height: 46px;
			margin-bottom: 30px;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	.section-title {
		max-width: 830px;
		margin: 0 auto rem(39);
		@include media-breakpoint-down(sm) {
			max-width: 300px;
			margin: 0 auto;
			margin-bottom: 48px;
		}
	}

	.row {
		--bs-gutter-y: #{rem(30)};
	}
	&__water {
		ul {
			position: relative;
			padding-top: rem(13);
			max-width: 613px;
			margin: 0 auto;
			list-style-type: none;
			font-size: rem(18);
			&::before {
				content: '';
				background-image: url('../img/opinion-bg-img.png');
				background-repeat: no-repeat;
				background-size: contain;
				width: 97px;
				height: 81px;
				position: absolute;
				right: -37%;
				top: 0;
				transform: rotate(107deg);
				z-index: -1;
			}
			&::after {
				content: '';
				background-image: url('../img/septic-bg-2.png');
				background-repeat: no-repeat;
				background-size: contain;
				width: 600px;
				height: 600px;
				position: absolute;
				right: -100%;
				bottom: -90%;
				z-index: -1; 
			}
			@include media-breakpoint-up(md) {
				font-size: rem(24);
			}
		}
		li {
			position: relative;
			padding-left: 70px;
			margin-bottom: rem(13);
			&::before {
				content: '';
				background-image: url('../img/water-service-marker.png');
				background-repeat: no-repeat;
				background-size: contain;
				width: 64px;
				height: 64px;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sServices

.service-item {
	display: block;
	padding: 10px;
	height: 100%;
	background-color:$white;
	border: 1px solid #E9E9F2;
	border-radius: 21px;
	@include media-breakpoint-down(sm) {
		margin: 0 auto;
		max-width: 320px;
		border: 1px solid #484D5F;
	}
	&:hover {
		border: 1px solid #484D5F;
	}
	&__img-wrap {
		margin-bottom: rem(30);
		border-radius: 15px;
		overflow: hidden;
		@include block(550,150);
		@include media-breakpoint-down(sm) {
			--ratio: 100/300;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			object-fit: cover;
			object-position: center;
			height: 100%;
		}
	}
	h3 {
		margin-bottom: rem(13);
		padding-left: rem(15);
		max-width: 80%;
		font-weight: 500;
		color: #141414;
		@include media-breakpoint-up(md) {
			padding-left: rem(30);
		}
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		padding: 0;
		margin-left: 35px;
		list-style-type: none;
		color: #141414;
		font-size: 15px;
		overflow: hidden;
		// @include media-breakpoint-up(sm) {
		// 	columns: auto 2;
		// 	column-gap: 30px;
		// }
		@include media-breakpoint-up(md) {
			font-size: 16px;
			max-width: 570px;
		}
	}
	li {
		flex: 0 0 auto;
    width: 50%;
		margin-bottom: 5px;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
	li:before {
    content: url('../img/svg/list-marker.svg');
		margin-right: 15px;
   }
}
.water-container {
	.bg-img {
		@include media-breakpoint-down(md) {
			top: 0;
			left: -239px;
			height: 100px
		}
	}
}