mixin footer()
	+b.FOOTER.footer
		.container
			+e.row.row
				+e.col-logo.col-auto
					+e.logo(href="/")
						+img('img/logo.png')
				+e.col-text.col
					p Сервисное обслуживание инженерных систем для загородных домов в Санкт-Петербурге и ЛО
				+e.col-num.col
					+e.tel(href="tel:+78124381236").h4 +7 812 438-12-36
				.col-auto
					+e.btn(href="#"
						data-src="leave-the-phone-7"
					).btn.btn-warning.link-modal-js перезвоните мне