:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
}
.fancybox__backdrop {
	background-color: rgba($color: #262626, $alpha: .7);
}
.modal-win {
	// display: block;
	background-color: #fff;
	max-width: 100%;
	position: relative;
	width: rem(570);
	overflow: hidden;
	// min-height: 100%; 
	padding: 40px;
	border-radius: 35px;
	z-index: 2;
	@include media-breakpoint-down(md) {
		padding: 20px;
	}
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
	.custom-input {
		margin-top: rem(16);
		width: auto;
		padding-left: 0;
		cursor: pointer;
		@include media-breakpoint-down(sm) {
			gap: rem(15);
		}
		.form-wrap {
			margin-top: 0;
		}
		.icon {
			font-size: rem(20);
			color: $white;
		}
		&__item {
			&:hover {
				p {
					color: #17181B;
				}
			}
		}
		&__input {
			display: none;
			&:checked ~ p {
				color: #17181B;
			}
		}
		&__icon-item {
			width: 42px;
			height: 42px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: rem(5);
			margin-left: auto;
			margin-right: auto;
			&--whatsapp {
				background-color: #00D64C;
			}
			&--telegram {
				background-color: #66C0FF;
			}
			&--viber {
				background-color: #7D69E9;
			}
		}
		p {
			@include mt;
			color: #878C98;
		}
	}
	&--done {
		width: rem(460);
		.modal-win__text-wrap {
			max-width: rem(309);
			img {
				margin-bottom: rem(25);
			}
		}
		.modal-win__title {
			font-size: rem(36);
			color: #000;
			line-height: 1.20em;
			font-weight: 500;
			margin-bottom: rem(12);
		}
		p {
			font-size: rem(17);
			line-height: 1.50em;
			color: #878C98;
			margin-bottom: 0;
		}
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.is-close {
	top: 20px !important;
  right: 20px !important;
	color: #878C98 !important;
	border: 1px solid #878C98;
	width: 26px;
	height: 26px;
	svg {
		fill: currentColor;
		width: 13px;
		height: 13px;
		filter: none;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}

.form-wrap {
	max-width: rem(377);
	form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__title {
		font-size: rem(36);
		margin-bottom: rem(10);
		line-height: 1.20em;
		color: #000;
		@include media-breakpoint-down(sm) {
			font-size: rem(26);
		}
	}
	p {
		font-size: rem(17);
		color: #878C98;
		margin-bottom: 0;
	}
	small {
		a {
			color: #6884DD;
			text-decoration: underline;
		}
	}
	&__text-wrap {
		margin-bottom: rem(40);
		@include media-breakpoint-down(sm) {
			margin-bottom: rem(20);
		}
		&--soc {
			margin-bottom: rem(22);
		}
	}
	&__input-wrap {
		width: 100%;
		max-width: rem(370);
		margin-bottom: rem(17);
		position: relative;
		&:after {
			content: url('../img/svg/phone.svg');
			position: absolute;
			display: block;
			width: 18px;
			height: 18px;
			right: 32px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__input {
		background: #F4F5F7;
		box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.05);
		border-radius: 100px;
		border: none;
		padding: rem(33) rem(36);
		&::placeholder {
			color: #878C98;
		}
		@include media-breakpoint-down(sm) {
			padding: rem(15) rem(15);
		}
	}
	&__btn {
		width: 100%;
		margin-bottom: rem(42);
		// @include media-breakpoint-down(sm) {
		// 	padding: rem(12) rem(13);
		// }
	}
	&__radio-wrap {
		display: flex;
		gap: rem(39);
		flex-wrap: wrap;
	}
}
.modal-img-1 {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {

	.fancybox__container {
		width: 100% !important;
		min-height: 100%; 
		transform: none !important;
	}
}


