mixin sEmergency(data)
	// start sEmergency
	+b.SECTION.sEmergency.section#sEmergency&attributes(attributes)
		.container
			+e.wrap
				+e.inner
					+e.text #[strong Вам нужен аварийный выезд] по&nbsp;одному из&nbsp;этих или других вопросов, связанных с&nbsp;инженерными сетями в&nbsp;вашем доме?
					+btn('срочно вызвать мастера').main-btn
	// end sEmergency