// start .sVideos
.sVideos {
	--sPT: #{rem(25)};
	--sPB: #{rem(10)};
	// --sTPB: ;
	&--3 {
		--sPB: #{rem(50)};
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(50)};
	}
	&__container {
		@media (max-width: 400px) {
			max-width: 300px;
		}
	}
	.section-title {
		max-width: rem(880);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(57);
		position: relative;
		@include media-breakpoint-down(sm) {
			max-width: rem(300);
			margin-left: auto;
			margin-right: auto;
		}
		h2 {
			background: linear-gradient(272.65deg, #141414 12.74%, #545454 90.01%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
		}
		img {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: -69px;
			z-index: -1;
		}
	}
	&__row {
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: var(--bs-gutter-x);
		@include media-breakpoint-down(md) {
			flex-wrap: nowrap;
			margin-left: 0;
			margin-right: 0;
		}
	}
	&__col {
		@include media-breakpoint-down(md) {
			padding-right: 0;
			padding-left: 0;
		}
	}
	&__slide {
		background-color:#F2F2F2;
		border-radius: 21px;
		@include block(570, 319);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		@include media-breakpoint-down(md) {
			max-width: 300px;
			margin-right: auto;
			margin-left: auto;
		}
		&--2 {
			--ratio: 180/270;
			margin-bottom: rem(15);
			.sVideos__icon-wrap {
				background-image: linear-gradient(180deg, #94d549 0%, #51b955 100%);
				width: 72px;
				height: 72px;
			}
		}
		@include mt;
		// position: relative;
		.sVideos__video-wrap {
			@include mt;
			&::before {
				@include mt;
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: transparent;
				z-index: 2;
			}
		}
		&:hover {
			.sVideos__video-wrap {
				transform: scale(1.2);
				&::before {
					background-color: rgba(0,0,0,0.4);
				}
			}
		}
	}
	&__desc {
		font-size: rem(19);
		line-height: 1.26em;
		text-align: center;
		font-weight: 500;
		margin-bottom: rem(4);
	}
	&__num {
		text-align: center;
		color: #8c94a2;
		font-size: rem(15);
	}
	&__video-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__icon-wrap {
		display: flex;
		width: 92px;
		height: 92px;
		background-image: linear-gradient(180deg, #FF594B 0%, #FFB45C 100%);
		box-shadow: inset 0px 4px 17px rgba(255, 255, 255, 0.55);
		color: $white;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		z-index: 2;
		.icon {
			font-size: rem(36);
			margin-left: 2px;
		}
	}
	&__video-row {
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.tabs {
		&__caption {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: rem(12);
			margin-bottom: rem(60);
		}
		&__btn {
			@include mt;
			box-shadow: 0 4px 32px rgb(163 169 183 / 21%);
			border-radius: 6px;
			background-color: #ffffff;
			color: #828b9a;
			font-size: 17px;
			padding: 10px 19px;
			cursor: pointer;
			&.active, &:hover {
				color: #0077dc;
				box-shadow: 0 0 0px 2px #0077dc;
			}
		}
	}
	&__col-wrap {
		.sVideos__slide {
			@include mt;
			--ratio: 180/270;
			margin-bottom: rem(15);
			background-color: $black;
		}
		.sVideos__video-wrap {
			@include mt;
			&::before {
				@include mt;
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: transparent;
				z-index: 2;
			}
			&:hover {
				transform: scale(1.2);
				&::before {
					background-color: rgba(0,0,0,0.4);
				}
			}
		}
		.sVideos__icon-wrap {
			width: 95px;
			height: 95px;
			zoom: 0.7;
		}
		.sVideos__desc {
			font-size: rem(17);
		}
		.sVideos__num {
			font-size: rem(16);
		}
	}
	&__hashtag-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(1) rem(12);
		flex-wrap: wrap;
	}
	&__hashtag-item {
		color: #0077dc;
    font-size: 14px;
		&:hover {
			text-decoration: underline;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sVideos

.arrow-wrap {
	.swiper-button-hand {
		@include media-breakpoint-up(md) {
			display: none;
		}
		@include media-breakpoint-down(md) {
			border: 4px solid #FFFFFF;
		}
		&-prev {
			left: 4px;
		}
		&-next {
			right: 4px;
		}
	}
}