mixin sWaterSystemItem(img,title,descr)
	+b.water-system-item.col-sm-6.col-lg-4.text-center
		+img(`img/water-${img}.png`)
		+e.title!= title
		+e.descr!= descr

mixin sWaterSystem(main, bg,title)
	// start sWaterSystem
	+b.SECTION.sWaterSystem.section.bg-wrap#sWaterSystem&attributes(attributes)
		if bg
			+img('img/repair-bg.png', 'bg').picture-bg
		.container
			+b.section-title.text-center
				h2 #[strong В&nbsp;9&nbsp;из&nbsp;10&nbsp;случаев] проблемы с&nbsp;#{title} вызваны некачественным обслуживанием
			.row
				if main
					+sWaterSystemItem('1','Затопление','Ошибки при монтаже и&nbsp;обслуживании приводят к&nbsp;попаданию воды в&nbsp;блок управления станции и&nbsp;поломке всего электро-оборудования.')
					+sWaterSystemItem('2','Засорение&nbsp;фильтров<br>в&nbsp;септике или СБО','В&nbsp;сооружение могут попадать волосы, шерсть животных, жир и&nbsp;различный мусор, который необходимо регулярно чистить, иначе это приведет к&nbsp;затоплению станции и&nbsp;дорогостоящей поломке.')
					+sWaterSystemItem('3','Сильный запах','При неправильной эксплуатации и&nbsp;отсутствии чистки септика вблизи станции или в&nbsp;помещениях может появляться неприятный запах.')
					+sWaterSystemItem('4','Замерзание системы','При наступлении морозов очень часто замерзают отводящие трубопроводы. Поломка может случиться в&nbsp;результате некачественного монтажа или неправильной консервации на&nbsp;зиму.')
					+sWaterSystemItem('5','Переполнение станции','Очистные системы выходят из&nbsp;строя при большой концентрации ила. Он&nbsp;накапливается в&nbsp;камерах, на&nbsp;стенках и&nbsp;трубках. Заиливание негативно влияет на&nbsp;движение жидкости, замедляет процессы и&nbsp;приводит к&nbsp;появлению неприятных запахов .')
					+sWaterSystemItem('6','Износ мембран компрессора','Если вовремя его не&nbsp;предотвратить придется ремонтировать или даже покупать новый компрессор.')
				else 
					+sWaterSystemItem('14','Потеря давления в&nbsp;системе водоснабжения','Давление пропадает из-за ряда факторов: неверно подобрано или смонтированное насосное оборудование, забиты фильтры, отсутствие или некорректная работа гидроаккумулятора.')
					+sWaterSystemItem('15','Неправильно подобрано насосное оборудование','Насос недостаточной мощности или не&nbsp;учитаны фильтры для очистки воды. Или насос смонтирован неправильно (не&nbsp;учтены характеристики источника водоснабжения)')
					+sWaterSystemItem('16','Нет возможности обслуживать систему самостоятельно','ОДля удобства обслуживания необходимо предусмотреть сервисные краны. Например, если необходимо поменять картридж в&nbsp;фильтре, должна быть возможность отключить фильтр не&nbsp;перекрывая всю воду в&nbsp;доме.')
					+sWaterSystemItem('17','Траншея недостаточной глубины','Траншею необходимо рыть на&nbsp;глубину промерзания. В&nbsp;Ленинградской области&nbsp;&mdash; это 1,2&nbsp;&mdash; 1,5&nbsp;м.')
					+sWaterSystemItem('18','Отсутствует кабель обогрева','Для обогрева вертикального участка трубы водоснабжения используют два вида кабеля: наружный и&nbsp;внутренний. Внутренний более эффективный, так как обогревает сразу воду, а&nbsp;не&nbsp;тело трубы.')



	// end sWaterSystem

mixin sWaterSystem2(data)
	// start sWaterSystem
	+b.SECTION.sWaterSystem--2.section#sWaterSystem&attributes(attributes).bg-wrap
		+img('img/sWater-bg.png', 'bg').picture-bg
		.container
			+b.section-title.text-center
				h2 #[strong Почему 986 человек доверили нам ]обслуживание инженерных сетей в 2021 году
			+e.row.row
				mixin sWaterSystemItem(img,title,descr)
					+b.water-system-item.col-sm-6.col-lg-4.text-sm-center
						+img(`img/water-${img}.png`)
						+e.text-wrap
							+e.title!= title
							+e.descr!= descr
				+sWaterSystemItem(7, 'Работаем с 2007 года', 'Нас знают и рекомендуют друзьям.<br>Наших инженеров не удивить<br>сложностью задачи')
				+sWaterSystemItem(8, 'Аварийный выезд<br>в день обращения', 'Среднее время приезда аварийного специалиста 2-3 часа')
				+sWaterSystemItem(9, 'Прямой поставщик оборудования', 'Это гарантия самой низкой цены. И мы точно знаем, что вам подойдет')
				+sWaterSystemItem(10, 'Комплексно обслуживаем любые виды систем', 'У нас в штате специалисты по обслуживанию канализации, водоснабжения и отопления')
				+sWaterSystemItem(11, 'Мы сами занимаемся монтажом инженерных сетей', 'Установили 6000 канализаций и других систем, знаем каждую станцию досконально изнутри')
				+sWaterSystemItem(12, 'Сразу привезем все комплектующие', 'У нас собственный склад запасных частей по самым низким ценам')

mixin sWaterSystem3(data)
	// start sWaterSystem
	+b.SECTION.sWaterSystem--3.section#sWaterSystem&attributes(attributes).bg-wrap
		+img('img/sWater-bg.png', 'bg').picture-bg
		+img('img/water-13.png').img-socket
		.container
			+b.section-title.text-center
				h2 Эти ошибки #[strong допускают владельцы станций при самостоятельном обслуживании ] или обращении к специалистом без сертификата
			+e.row.row
				mixin sWaterSystemItem(title,descr, num)
					+b.water-system-item.col-sm-6.col-lg-4.text-center
						+e.img-wrap
							p!= num
							+img(`img/atention.png`)
						+e.text-wrap
							+e.title!= title
							+e.descr!= descr
				+sWaterSystemItem('Станцию не наполняют водой после откачки', 'При высоких грунтовых водах она может всплыть.', '01')
				+sWaterSystemItem('Забывают промыть фильтр грубых фракций', 'Отверстия заиливаются, приемная камера переполняется.', '02')
				+sWaterSystemItem('Не прочищают фильтр компрессора', 'Если фильтр грязный, то в аэротенк подается меньше воздуха, качество очистки снижается.', '03')
				+sWaterSystemItem('Одну из камер откачивают полностью', 'Вода в смежных камерах давит на перегородки, они могут сломаться.', '04')
				+sWaterSystemItem('Не правильно настраивают регулировку аэрации', 'Может появляться запах.', '05')
				+sWaterSystemItem('В станции Топас подключают компрессоры не в те розетки ', 'В ЛОС, Юнилос и Астра включают ручную смену фаз. В обоих случаях работа канализации нарушается.', '06')