mixin sWaterSystem(data)
	// start sWaterSystem
	+b.SECTION.sWaterSystem.section#sWaterSystem&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 #[strong В&nbsp;9&nbsp;из&nbsp;10&nbsp;случаев] проблемы с&nbsp;канализацией или водоснабжением вызваны некачественным обслуживанием
			.row
				mixin sWaterSystemItem(img,title,descr)
					+b.water-system-item.col-sm-6.col-lg-4.text-center
						+img(`img/water-${img}.png`)
						+e.title!= title
						+e.descr!= descr
				+sWaterSystemItem('1','Затопление','Ошибки при монтаже и&nbsp;обслуживании приводят к&nbsp;попаданию воды в&nbsp;блок управления станции и&nbsp;поломке всего электро-оборудования.')
				+sWaterSystemItem('2','Засорение&nbsp;фильтров<br>в&nbsp;септике или СБО','В&nbsp;сооружение могут попадать волосы, шерсть животных, жир и&nbsp;различный мусор, который необходимо регулярно чистить, иначе это приведет к&nbsp;затоплению станции и&nbsp;дорогостоящей поломке.')
				+sWaterSystemItem('3','Сильный запах','При неправильной эксплуатации и&nbsp;отсутствии чистки септика вблизи станции или в&nbsp;помещениях может появляться неприятный запах.')
				+sWaterSystemItem('4','Замерзание системы','При наступлении морозов очень часто замерзают отводящие трубопроводы. Поломка может случиться в&nbsp;результате некачественного монтажа или неправильной консервации на&nbsp;зиму.')
				+sWaterSystemItem('5','Переполнение станции','Очистные системы выходят из&nbsp;строя при большой концентрации ила. Он&nbsp;накапливается в&nbsp;камерах, на&nbsp;стенках и&nbsp;трубках. Заиливание негативно влияет на&nbsp;движение жидкости, замедляет процессы и&nbsp;приводит к&nbsp;появлению неприятных запахов .')
				+sWaterSystemItem('6','Износ мембран компрессора','Если вовремя его не&nbsp;предотвратить придется ремонтировать или даже покупать новый компрессор.')

	// end sWaterSystem