// start .sWaterSystem
.sWaterSystem {
		--sPT: #{rem(90)};
		// --sPB: ;
		--sTPB:#{rem(50)};
		@include media-breakpoint-down(sm) {
			padding-top: 114px;
		}
	h2 {
		font-size: rem(50);
		background: linear-gradient(272.65deg, #141414 12.74%, #545454 90.01%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		@include media-breakpoint-down(sm) {
			font-size: rem(26);
			max-width: 320px;
			margin: 0 auto;
		}
	}
	strong {
		display: block;
	}
	.row {
		--bs-gutter-y: #{rem(30)};
	}
	&--2 {
		@include media-breakpoint-up(lg) {
			--indent: #{rem(20)};
			.water-system-item {
				&:nth-child(2), &:nth-child(5) {
					padding-top: var(--indent);
				}
				&:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(6) {
					margin-top: calc(var(--bs-gutter-y) - var(--indent));
				}
			}
		}
		@include media-breakpoint-down(sm) {
			.sWaterSystem__row {
				max-width: rem(340);
				margin-left: auto;
				margin-right: auto;
			}
			.water-system-item {
				display: flex;
				align-items: center;
				img {
					margin-bottom: 0;
					max-width: rem(87);
					flex: 0 0 auto;
					margin-right: 20px;
				}
				&__text-wrap {
					flex-grow: 1;
				}
				&__title, &__descr {
					max-width: none;
				}
			}
		}
	}
	&--3 {
		position: relative;
    z-index: 35;
		@include media-breakpoint-down(sm) {
			max-width: rem(340);
			margin-left: auto;
			margin-right: auto;
		}
	}
	.img-socket {
		z-index: -1;
    left: 50px;
    position: absolute;
    top: 400px;
		@include media-breakpoint-down(sm) {
			width: 82px;
			left: 10px;
			top: 280px;
		}
	}
	&__supply {
		strong {
			display: inline;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
	counter-reset: num;
} // end.sWaterSystem
.water-system-item {
	color: #141414;
	img {
		margin-bottom:rem(20);
	}
	&__title {
		margin: 0 auto;
		max-width: 300px;
		margin-bottom: 10px;
		font-weight: 500;
		font-size: 18px;
		@include media-breakpoint-up(sm) {
			font-size: 20px;
		}
	}
	&__descr {
		margin: 0 auto;
		max-width: 300px;
		line-height: 150%;
		font-size: 15px;
		@include media-breakpoint-up(sm) {
			font-size: 16px;
		}
	}
	
	&__img-wrap {
		position: relative;
		background-image: radial-gradient(165% 165% at 75% 100%, #E64F41 20.93%, #FF8276 72.11%, #FE7366 100%);
		width: 90px;
		height: 90px;
		border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(18);
		&::before {
			content:"0" counter(num);
			counter-increment: num;
			@include a-cent;
			position: absolute;
			display: block;
			width: max-content;
			height: max-content;
			z-index: 1;
			font-size: rem(50);
			font-weight: 700;
			color: $white;
			opacity: 0.23;
		}
		&:after {
			content: '';
			@include a-cent;
			position: absolute;
			z-index: 2;
			background-image: url('../img/atention.png');
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&:nth-child(1) {
		.water-system-item__img-wrap {
			&:after {
				transform: rotate(19.7deg);
			}
		}
	}
	&:nth-child(2) {
		.water-system-item__img-wrap {
			&:after {
				transform: rotate(-7.18deg);
			}
		}
	}
	&:nth-child(3) {
		.water-system-item__img-wrap {
			&:after {
				transform: rotate(19.7deg);
			}
		}
	}
	&:nth-child(4) {
		.water-system-item__img-wrap {
			&:after {
				transform: rotate(-7.18deg);
			}
		}
	}
	&:nth-child(5) {
		.water-system-item__img-wrap {
			&:after {
				transform: rotate(19.7deg);
			}
		}
	}
	&:nth-child(6) {
		.water-system-item__img-wrap {
			&:after {
				transform: rotate(-7.18deg);
			}
		}
	}
}