mixin insideMenu()
	+b.inside-menu
		+e.logo(href="#")
			+img('img/logo.png')
		ul
			li
				a(href="#") О компании
			li
				a(href="#") Услуги
			li
				a(href="#") Акции
			li
				a(href="#") Блог
			li
				a(href="#") Лицензии и сертификаты
			li
				a(href="#") Отзывы
			li
				a(href="#") Цены
			li
				a(href="#") Гарантия
			li
				a(href="#") Наше оборудование и техника
			li
				a(href="#") Новости
			li
				a(href="#") Вакансии
			li
				a(href="#") Контакты
		+e.wrap
			a(href="tel:+78124381236").tel +7 812 438-12-36
			a(href="#").main-btn заказать звонок

mixin headerBlock(location,img)
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+topLine()
			+e.text
				+e.main-text Поможем избежать&nbsp;98% проблем #{location} #[strong и&nbsp;сэкономить до&nbsp;40&nbsp;000&nbsp;р.&nbsp;в&nbsp;год] благодаря сервисному обслуживанию
				+e.descr 
					+img('img/header-descr-img.png')
					p #[strong Мы&nbsp;подберем индивидуальные условия договора.] Защитите себя от&nbsp;поломок и&nbsp;платите только за&nbsp;то, что вам нужно
				+btn('подобрать условия договора').main-btn
			if img
				img(src='img/header-block-img.png' class="headerBlock__main-img")
		+insideMenu()
	// end headerBlock 

mixin headerBlock2()
	// start headerBlock
	+b.headerBlock--2.section#headerBlock&attributes(attributes)
		.container
			+topLine()
			+e.text
				+e.main-text #[strong Срочный ремонт] септиков и&nbsp;обслуживание станций очистки. #[strong Аварийный выезд] инженера<br>в&nbsp;день обращения.
				+btn('подобрать условия договора').main-btn
			img(src='img/header-block-img.png' class="headerBlock__main-img")
		+insideMenu()
	// end headerBlock 
