// start .sRates
.sRates {
	--sPT: #{rem(154)};
	--sPB: #{rem(110)};
	// --sTPB: ;
	// overflow: hidden;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(187)};
		--sPB: #{rem(219)};
	}
	.section-title {
		max-width: rem(740);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(40);
		h2 {
			background: linear-gradient(272.65deg, #141414 12.74%, #545454 90.01%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
		}
	}
	&__row {
		position: relative;
		@include media-breakpoint-down(sm) {
			max-width: 300px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.img-bg {
		position: absolute;
		z-index: -1;
		left: -145px;
		top: -151px;
		width: auto;
		width: rem(364);
		object-fit: contain;
		@include media-breakpoint-down(lg) {
			width: 232px;
			left: -89px;
			top: 559px;
		}
	}
	&__col-order-first {
		@include media-breakpoint-down(lg) {
			order: 1;
		}
	}
	&__col-order-last {
		@include media-breakpoint-down(lg) {
			order: 2;
			margin-top: rem(87);
		}
	}
	&__wrap {
		// display: flex;
		border: 1px solid #E9E9F2;
		border-radius: 21px;
		background-color: $white;
		padding: rem(40) rem(40) rem(87) rem(40);
		position: relative;
		height: 100%;
		@include media-breakpoint-down(lg) {
			padding: rem(24) rem(25) rem(87) rem(25);
		}
		h3 {
			font-weight: 500;
			margin-bottom: rem(22);
		}
		ul {
			list-style-image: url('../img/svg/list-marker.svg');
			display: flex;
    	flex-wrap: wrap;
			max-width: rem(420);
			gap: rem(18) rem(28);
			margin-bottom: 0;
			li {
				margin-left: rem(24);
			}
		}
	}
	&__item {
		display: flex;
		&:not(:last-child) {
			border-bottom: 1px solid #E9E9F2;
			margin-bottom: rem(26);
			padding-bottom: rem(31);
		}
		@include media-breakpoint-down(lg) {
			flex-direction: column;
			ul {
				gap: rem(10);
				margin-bottom: rem(16);
			}
		}
		&--2 {
			flex-direction: column;
			ul {
				gap: rem(10);
				margin-bottom: rem(16);
			}
		}
	}
	&__card-wrap {
		background-color: #F8F8F8;
		box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.02);
		border-radius: 11px;
		padding: rem(16) rem(33) rem(28) rem(20);
		max-width: rem(196);
		margin-left: auto;
		@include media-breakpoint-down(lg) {
			max-width: 100%;
			margin-left: unset;
			.sRates__text {
				margin-bottom: rem(16);
			}
		}
		&--2 {
			max-width: 100%;
			margin-left: unset;
			.sRates__text {
				margin-bottom: rem(16);
			}
		}
	}
	&__text {
		color: #828B9A;
		font-size: rem(11);
		text-transform: uppercase;
		letter-spacing: 0.01em;
		line-height: 1.60em;
		margin-bottom: rem(44);
	}
	&__price {
		display: flex;
		font-weight: 500;
		align-items: flex-end;
		p {
			margin-right: rem(6);
			margin-bottom: 0;
		}
		.num {
			font-size: rem(40);
			// margin-bottom: 0;
			line-height: 1;
		}
		.currency {
			font-size: rem(20);
			// margin-bottom: 0;
			// margin-left: rem(7);
		}
	}
	&__btn {
		position: absolute;
		width: 100%;
		max-width: rem(690);
		bottom: rem(-46);
		left: 50%;
		transform: translateX(-50%);
		&--2 {
			max-width: rem(300);
		}
		@include media-breakpoint-down(md) {
			max-width: rem(297);
		}
	}
	.discount {
		position: absolute;
		right: -48px;
    top: -48px;
		@include media-breakpoint-down(md) {
			right: -34px;
    	top: -43px;
		}
	}
	.img-alert, .img-work, .img-calendar {
		margin-left: rem(14);
	}
	.img-calendar {
		margin-top: -58px;
	}
	.level-img {
		position: absolute;
		right: 50px;
    top: -201px;
    z-index: -1;
		@include media-breakpoint-down(lg) {
			width: 233px;
			right: -85px;
			top: 0;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sRatesa