
	// start .topLine
	.topLine {
		padding: rem(30) 0 rem(67);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		z-index: 2;
		@include media-breakpoint-down(sm) {
			padding-bottom: rem(30);
			padding-left: rem(10);
			margin-bottom: rem(10);
		}
		&__logo {
			display: block;
			margin-right: rem(38);
			width: 132px;
			height: 52px;
			@include media-breakpoint-down(sm) {
				margin-bottom: 10px;
				width: 100px;
				height: 39px;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
		&__about {
			max-width: 328px;
			margin-right: auto;
			font-size: 15px;
			color: #565E69;
			opacity: 0.67;
			line-height: 150%;
			@include media-breakpoint-down(lg) {
				order: 5;
				max-width: none;
			}
			@include media-breakpoint-down(sm) {
				font-size: 14px;
				max-width: 300px;
			}
		}
		&__phone {
			margin-right: rem(30);
			font-weight: 700;
			font-size: rem(20);
			color: #111213
		}
		&__btn {
			padding: rem(11) rem(20);
			background-color: rgba($white, .9);
			color: #2079F5;
			border-radius: 1000px; 
			font-weight: 700;
			font-size: 12px;
			line-height: 12px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			&:hover {
				background-color: #2079F5;
				color: rgba($white, .9);
			}
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine