mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		+e.logo(href="#")
			+img('img/logo.png')
		+e.about Сервисное обслуживание инженерных систем для загородных домов в&nbsp;Санкт-Петербурге и&nbsp;ЛО
		+e.phone(href="tel:+78124381236").d-none.d-md-block +7 812 438-12-36
		+btn('срочно вызвать мастера').d-none.d-md-block
	// end topLine