.menu{
		display: inline-flex;
		text-align: center;
		list-style: none;
		position: relative;
		margin-bottom: 0;
		max-width: 100%;
		li{
			padding: 0;
			&.active {
				a {
					color: $white;
				}
			}
		}
		a{
			text-transform: uppercase;
			color: rgba($white, .4);
			display: block;
			padding: rem(16)  rem(26);
			font-weight: 500;
			font-size: 12px;
			letter-spacing: 0.1em;
			@include media-breakpoint-down(sm) {
				padding: rem(18)  rem(15);
			}
		}
		&.active {
			a {
				color: $white;
			}
		}
		.swiper-slide:hover {
			a {
				color: $white;
			}
		}
	}
