//- mixin menu-toggle()
//- 	+b.toggle-menu-mobile--js.d-lg-none
//- 		span
//- mixin mob-mnu()
//- 	+b.menu-mobile--js
//- 		+b.toggle-menu-mobile--js
//- 			span
//- 		+e.inner
//- 			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.menu-btn 
					span
					| Меню
					ul.submenu
						li: a(href="#") submenu-item
						li: a(href="#") submenu-item
						li: a(href="#") submenu-item
						li: a(href="#") submenu-item
				.swiper.top-nav-swiper--js
					+mnu()
	// end top-nav