mixin sOpinion(usual)
	// start sOpinion
	+b.sOpinion.section#sOpinion&attributes(attributes)
		.container
			.row
				mixin opinionItem(question,...answers)
					+e.col.col-lg-6.col-xl-auto
						+e.item&attributes(attributes)
							+e.question!= question
							+e.answer
								each item in answers
									p!= item
				if usual
					+opinionItem('«А можно обслуживать систему самому?»','Если систему водоснабжения монтировала компания ЭкоЛайф, то&nbsp;ее&nbsp;можно обслуживать самостоятельно. Мы&nbsp;делаем все, чтобы это было просто (отсечные краны, систему консервации на&nbsp;зиму и&nbsp;даже можем предоставить Вам специальный инструмент). Но&nbsp;заботу о&nbsp;Вашем доме лучше доверить профессионалам').--small
				else
					+opinionItem('«А можно обслуживать систему самому?»','Некоторые системы канализаций предусматривают самостоятельную откачку ила по&nbsp;инструкции. Но&nbsp;это не&nbsp;значит, что откачка каждый раз проходит правильно и&nbsp;эффективно.','И&nbsp;потом, самостоятельная откачка не&nbsp;спасает от&nbsp;износа деталей и&nbsp;последствий неправильной эксплуатации.').--small
				+opinionItem('&laquo;В&nbsp;каждом садоводстве есть местные специалисты, они всегда помогут&raquo;','Иногда кажется, что заплатив 2 000 «местным» можно решить любые вопросы.','По факту же — 8 из 10 систем, которые приходится чинить нашему аварийному инженеру, находились на «обслуживании» у неквалифицированных специалистов.','Более того, вмешательство таких специалистов лишает вас гарантии производителя. А при обслуживании у официального партнера гарантия на канализацию составляет 3-10 лет.').--large

	// end sOpinion