mixin sSummerProblem(data)
	// start sSummerProblem
	+b.SECTION.sSummerProblem.section#sSummerProblem&attributes(attributes)
		.container
			.row
				.col-lg-6
					+e.title А теперь представьте себе ситуацию:
						+img('img/sun-img.png').d-none.d-sm-inline-block
						strong летом...
					p Вы&nbsp;наслаждаетесь отдыхом в&nbsp;любимом загородном доме. Пригласили друзей, родственников или коллег. На&nbsp;мангале румянятся шашлыки, топится банька, вы&nbsp;готовитесь накрывать стол на&nbsp;улице.
					+e.cause
						//- +img('img/nauseated.png')
						p И&nbsp;тут гости начинают замечать нарастающий неприятный запах. Запах усиливается, становится невозможно находиться на&nbsp;участке. И&nbsp;даже спрятавшись в&nbsp;доме вы&nbsp;и&nbsp;гости все еще чувствуете его. Запах замечают даже ваши соседи, ведь он&nbsp;доносится из&nbsp;сточной канавы. Отдых превращается в&nbsp;серьезную проблему, вы&nbsp;чувствуете себя неудобно.
					p
						strong Всё потому что септик засорился или переполнился, и&nbsp;в&nbsp;канаву стали попадать неочищенные стоки...
	// end sSummerProblem