mixin sStages-item(num, t)
	.col-lg-3
		+e.item
			+e.num!= num
			p!= t

mixin sStages(data)
	// start sStages
	+b.SECTION.sStages.section#sStages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 В какие этапы #[strong мы проводим] сервисное и аварийное обслуживание
			+e.row.row
				.col-sm-6.col-md-4.col-lg-3
					+e.item
						+e.num 01.
						p Инженер с сервисным оборудованием #[strong приезжает на&nbsp;участок по&nbsp;заявке.]
				.col-sm-6.col-md-4.col-lg-3
					+e.item
						+e.num 02.
						p #[strong Проводит визуальный<br>осмотр станции и&nbsp;участка] на&nbsp;предмет повреждений<br>корпуса и&nbsp;наличия запаха,<br>а&nbsp;также соблюдения правил монтажа.
				.col-sm-6.col-md-4.col-lg-3
					+e.item
						+e.num 03.
						p #[strong Далее проводит диагностику работы системы,] ккомпрессоров, насосов и&nbsp;электроники.
				.col-sm-6.col-md-4.col-lg-3
					+e.item
						+e.num 04.
						p #[strong При необходимости устраняет неполадки] или проводит<br>ремонт. Если запчастей<br>в&nbsp;наличие нет, создает заявку на&nbsp;доставку запчастей.
				.col-sm-6.col-md-4.col-lg-3
					+e.item
						+e.num 05.
						p Когда все агрегаты<br>работают в&nbsp;штатном<br>режиме&nbsp;&mdash; #[strong производит<br>откачку иловой массы]
				.col-sm-6.col-md-4.col-lg-3
					+e.item
						+e.num 06.
						p #[strong Промывает аэролифты ]<br>(трубочки)
				.col-sm-6.col-md-4.col-lg-3
					+e.item
						+e.num 07.
						p #[strong Очищает стенки<br>канализации] от&nbsp;грязи.
				.col-sm-6.col-md-4.col-lg-3
					+e.item
						+e.num 08.
						p #[strong Заливает чистой водой,] производит<br>перезапуск всех систем.
	// end sStages