mixin sWinterProblem(data)
	// start sWinterProblem
	+b.SECTION.sWinterProblem.section#sWinterProblem&attributes(attributes)
		.container
			.row
				+e.left.col-lg-7
					+img('img/winter-img.png')
				+e.right.col-lg-5
					+e.title Или в январские <br>
						+img('img/santa-img.png')
						strong праздники...
					p Внезапно пропадает напор воды. 
					ul
						li Невозможно помыться, воспользоваться туалетом или постирать. 
						li До&nbsp;аварийных служб не&nbsp;дозвониться, никто не&nbsp;работает. Жить за&nbsp;городом становится невозможно, праздники испорчены. Приходится уезжать из&nbsp;дома, и&nbsp;решать вопросы с&nbsp;водой, когда у&nbsp;мастеров появится время.
					p А произошло всё из-за того, что в  системе водоснабжения не были вовремя обнаружены проблемы с автоматикой, насосами или фильтрами.
					+e.resume Этой ситуации можно избежать

mixin sWinterProblem2(data)
	// start sWinterProblem
	+b.SECTION.sWinterProblem.section#sWinterProblem&attributes(attributes)
		.container
			.row
				+e.left.col-lg-7
					img(src='img/winter-img.png')
				+e.right.col-lg-5
					+e.title А теперь представьте себе ситуацию:
						+img('img/santa-img.png') 
						<br> #[strong после январских праздников]
					p Вы&nbsp;уехали в&nbsp;город и&nbsp;забыли отключить насос в&nbsp;загородном доме. При этом воду из&nbsp;системы водоснабжения также забыли слить.
					p На&nbsp;участке происходит отключение электричества:
					ul
						li дом начинает остывать
						li вода в&nbsp;трубах замерзает, они лопаются
						li происходит потеря давления, насос включается, и&nbsp;дом постепенно заполняется водой, которая замерзает на&nbsp;полу и&nbsp;в&nbsp;перекрытиях
					p В&nbsp;конечном итоге придется производить полную замену полов и&nbsp;всей системы водоснабжения
					+e.resume Этой ситуации можно избежать
						

	// end sWinterProblem