mixin sWinterProblem(data)
	// start sWinterProblem
	+b.SECTION.sWinterProblem.section#sWinterProblem&attributes(attributes)
		.container
			.row
				+e.left.col-lg-7
					+img('img/winter-img.png')
				+e.right.col-lg-5
					+e.title Или в январские <br>
						+img('img/santa-img.png')
						strong праздники...
					p Внезапно пропадает напор воды. 
					ul
						li Невозможно помыться, воспользоваться туалетом или постирать. 
						li До&nbsp;аварийных служб не&nbsp;дозвониться, никто не&nbsp;работает. Жить за&nbsp;городом становится невозможно, праздники испорчены. Приходится уезжать из&nbsp;дома, и&nbsp;решать вопросы с&nbsp;водой, когда у&nbsp;мастеров появится время.
					p А произошло всё из-за того, что в  системе водоснабжения не были вовремя обнаружены проблемы с автоматикой, насосами или фильтрами.
					+e.resume Этой ситуации можно избежать
						

	// end sWinterProblem